attrs==22.1.0
bandit==1.7.4
dateparser==1.1.4
exceptiongroup==1.0.4
flake8==6.0.0
flake8-bandit==4.1.1
gitdb==4.0.10
GitPython==3.1.29
humanize==4.4.0
iniconfig==1.1.1
maya==0.6.1
mccabe==0.7.0
packaging==21.3
pbr==5.11.0
pendulum==2.1.2
pkg_resources==0.0.0
pluggy==1.0.0
psycopg2==2.9.5
pycodestyle==2.10.0
pydantic==1.10.2
pyflakes==3.0.1
pyparsing==3.0.9
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
regex==2022.10.31
six==1.16.0
smmap==5.0.0
snaptime==0.2.4
stevedore==4.1.1
tomli==2.0.1
typing_extensions==4.4.0
tzdata==2022.6
tzlocal==4.2
